<div class="footer">
    <!-- Begin Footer Static Top Area -->
    <div class="footer-static-top">
        <div class="container">
            <!-- Begin Footer Shipping Area -->
            <div class="footer-shipping pt-60 pb-55 pb-xs-25">
                <div class="row">
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="~/Content/images/shipping1.png"
                                     alt="Shipping Icon" />
                            </div>
                            <div class="shipping-text">
                                <h2>Giao hàng miễn phí</h2>
                                <p>
                                    Giao hàng ngay trong ngày mua. Miễn phí đổi trả hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="~/Content/images/shipping2.png"
                                     alt="Shipping Icon" />
                            </div>
                            <div class="shipping-text">
                                <h2>Thanh toán an toàn</h2>
                                <p>
                                    Thanh toán bằng phương thức thanh toán phổ biến và an
                                    toàn nhất thế giới Phương pháp.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="~/Content/images/shipping3.png"
                                     alt="Shipping Icon" />
                            </div>
                            <div class="shipping-text">
                                <h2>Tự tin mua sắm</h2>
                                <p>
                                    Chính sách Bảo vệ Người mua của chúng tôi bao gồm giao
                                    dịch mua của bạntừ lần nhấp chuột đến Phân phối.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="~/Content/images/shipping4.png"
                                     alt="Shipping Icon" />
                            </div>
                            <div class="shipping-text">
                                <h2>Hỗ trợ 24/7</h2>
                                <p>
                                    Có một câu hỏi? Gọi cho Chuyên gia hoặc trò chuyện trực
                                    tuyến.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                </div>
            </div>
            <!-- Footer Shipping Area End Here -->
        </div>
    </div>
    <!-- Footer Static Top Area End Here -->
    <!-- Begin Footer Static Middle Area -->
    <div class="footer-static-middle">
        <div class="container">
            <div class="footer-logo-wrap pt-50 pb-35">
                <div class="row">
                    <!-- Begin Footer Logo Area -->
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-logo">
                            <img src="~/Content/images/logoHQ.png" alt="Footer Logo" />
                            <p class="info">
                                Niềm vui của khách hàng là sự tự tin của chúng tôi. Với
                                hơn 10 năm trong lĩnh vực công nghệ chúng tôi luôn cung
                                cấp sản phẩm chính hãng cho quý khách hàng.
                            </p>
                        </div>
                        <ul class="des">
                            <li>
                                <span>Địa chỉ: </span>
                                78 Hoàng Hoa Thám, Phường 12, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam
                            </li>
                            <li>
                                <span>Điện thoại: </span>
                                <a href="#">(+84) 774 880 211</a>
                            </li>
                            <li>
                                <span>Email: </span>
                                <a href="#">12a9nth@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Footer Logo Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Sản phẩm</h3>
                            <ul>
                                <li><a href="#">Hàng mới về</a></li>
                                <li><a href="#">Sản phẩm bán chạy</a></li>
                                <li><a href="#">Sản phẩm nổi bật</a></li>
                                <li><a href="#">Laptop</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Cửa hàng</h3>
                            <ul>
                                <li><a href="#">Giao hàng</a></li>
                                <li><a href="#">Thanh toán</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Thông tin liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-4">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Theo dõi</h3>
                            <ul class="social-link">
                                <li class="twitter">
                                    <a href="https://twitter.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="rss">
                                    <a href="https://rss.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="RSS">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Begin Footer Newsletter Area -->
                        <!-- Footer Newsletter Area End Here -->
                    </div>
                    <!-- Footer Block Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Static Middle Area End Here -->
    <!-- Begin Footer Static Bottom Area -->
    <div class="footer-static-bottom pt-55 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Footer Payment Area -->
                    <div class="copyright text-center">
                        <a href="#">
                            <img src="images/payment/1.png" alt="" />
                        </a>
                    </div>
                    <!-- Footer Payment Area End Here -->
                    <!-- Begin Copyright Area -->
                    <div class="copyright text-center pt-25">
                        <span>
                            <a href="#" target="_blank">Bản quyền thuộc HQGamingGear</a>
                        </span>
                    </div>
                    <!-- Copyright Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Static Bottom Area End Here -->
</div>
