@model IEnumerable<WebsiteGamingGear.Models.BinhLuanTinTuc>
@{
    ViewBag.Title = "BinhLuanTT";
    Layout = null;
}


@foreach (var tintuc in Model)
{
        if(tintuc.trangThai == "2")
                {
                    <li>
                        <div class="author-avatar pt-15">
                            <img src="~/Content/images/@tintuc.TaiKhoan.anhDaiDien" width="40"
                                 alt="User" />
                        </div>
                        <div class="comment-body pl-15">
                            <h5 class="comment-author pt-15">@tintuc.TaiKhoan.ten</h5>
                            <div class="comment-post-date">
                                @String.Format("{0:dd/MM/yyyy}", tintuc.ngayThem)
                            </div>
                            <p>
                                @tintuc.noiDungBL
                            </p>
                        </div>
                    </li>
                }
}
