@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/myCss/textCss.css"/>
@Html.Partial("Header")
<body style="text-align: center">
    @Html.Partial("MenuTop")
    <h1 style="font-style: italic">
        CẢM ƠN BẠN ĐÃ GỬI LIÊN HỆ!<br />
        NỘI DUNG LIÊN HỆ CỦA BẠN ĐÃ ĐƯỢC GHI NHẬN,<br />
        CHÚNG TÔI SẼ PHẢN HỒI LIÊN HỆ CỦA BẠN QUA EMAIL <br />
        TRONG KHOẢNG THỜI GIAN SỚM NHẤT.
    </h1>
    @Html.Partial("Footer")
</body>
