@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/myCss/textCss.css"/>
<body style="text-align: center">
    <h1 style="font-style: italic">
        CẢM ƠN BẠN ĐÃ GỬI LIÊN HỆ!<br />
        NỘI DUNG LIÊN HỆ CỦA BẠN ĐÃ ĐƯỢC GHI NHẬN,<br />
        CHÚNG TÔI SẼ PHẢN HỒI LIÊN HỆ CỦA BẠN QUA EMAIL <br />
        TRONG KHOẢNG THỜI GIAN SỚM NHẤT.
    </h1>
</body>
