@{ 
    Layout = null;
}
<link rel="stylesheet" href="~/css/myCss/textCss.css" />
@Html.Partial("Header")
<body style="text-align: center">
        @Html.Partial("MenuTop")
            <h1 style="font-style: italic">
                CẢM ƠN BẠN ĐÃ ĐẶT HÀNG!<br />
                ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC GHI NHẬN,<br />
                CHÚNG TÔI SẼ LIÊN HỆ VỚI BẠN TRONG THỜI GIAN SỚM NHẤT.
            </h1>    
    @Html.Partial("Footer")
</body>
