@{
    ViewBag.Title = "XacNhanThanhToan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/myCss/textCss.css" />
<body style="text-align: center">
    <h1 style="font-style: italic">
        @ViewBag.Message
    </h1>
    <a class="btn btn-default" href="@Url.Action("TrangChu","NguoiDung")">
        Trở về
    </a>
</body>
